/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "AganS55";
  src: url("./fonts/agane55sign.eot"); /* IE9 Compat Modes */
  src: url("./fonts/agane55sign.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/agane55sign.otf") format("opentype"), /* Open Type Font */
    url("./fonts/agane55sign.svg") format("svg"), /* Legacy iOS */
    url("./fonts/agane55sign.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/agane55sign.woff") format("woff"), /* Modern Browsers */
    url("./fonts/agane55sign.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}