.language-xml .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8
}

.language-xml .hljs-comment, .hljs-quote {
  color: #998;
  font-style: italic
}

.language-xml .hljs-keyword, .hljs-selector-tag, .hljs-subst {
  color: #333;
  font-weight: bold
}

.language-xml .hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
  color: #008080
}

.language-xml .hljs-string, .hljs-doctag {
  color: #d14
}

.language-xml .hljs-title, .hljs-section, .hljs-selector-id {
  color: #900;
  font-weight: bold
}

.language-xml .hljs-subst {
  font-weight: normal
}

.language-xml .hljs-type, .hljs-class .hljs-title {
  color: #458;
  font-weight: bold
}

.language-xml .hljs-tag, .hljs-name, .hljs-attribute {
  color: #000080;
  font-weight: normal
}

.language-xml .hljs-regexp, .hljs-link {
  color: #009926
}

.language-xml .hljs-symbol, .hljs-bullet {
  color: #990073
}

.language-xml .hljs-built_in, .hljs-builtin-name {
  color: #0086b3
}

.language-xml .hljs-meta {
  color: #999;
  font-weight: bold
}

.language-xml .hljs-deletion {
  background: #fdd
}

.language-xml .hljs-addition {
  background: #dfd
}

.language-xml .hljs-emphasis {
  font-style: italic
}

.language-xml .hljs-strong {
  font-weight: bold
}
